.terrainCard {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    flex-grow: 0;
    padding: 10px;
}

.allowedShapes {
    display: flex;

    & .shape {
        margin-right: 10px;
    }
}