.tile {
  width: min(10vh, 12vw);
  aspect-ratio: 1 / 1;
  background: white;
  border: 1px solid black;
  display: flex;
  position: relative;
  float: left;
}

.rail {
  background-color: black;
  position: absolute;
  z-index: 1;

  &.vert {
    width: 2px;
    height: 50%;
    left: 50%;

    &.short {
      height: 20%;

      &.bottom {
        top: calc(80% + 1px);
      }

      & .cross-rail.one {
        top: calc(50% - 1px);
      }

      & .two,
      .three,
      .four {
        visibility: hidden;
      }
    }

    & .cross-rail {
      width: 300%;
      height: 2px;

      left: calc(-150% + 1px);

      &.one {
        top: 20%;
      }

      &.two {
        top: 40%;
      }

      &.three {
        top: 60%;
      }

      &.four {
        top: 80%;
      }
    }

    &.bottom {
      top: 50%;
    }
  }

  &.horiz {
    width: 50%;
    height: 2px;
    top: 50%;

    &.short {
      width: 20%;

      &.right {
        left: calc(80% + 1px);
      }

      & .cross-rail.one {
        left: calc(50% - 1px);
      }

      & .two,
      .three,
      .four {
        visibility: hidden;
      }
    }

    & .cross-rail {
      width: 2px;
      height: 300%;
      top: calc(-150% + 1px);

      &.one {
        left: calc(20% - 1px);
      }

      &.two {
        left: 40%;
      }

      &.three {
        left: 60%;
      }

      &.four {
        left: 80%;
      }
    }

    &.left {
      left: 0;
    }

    &.right {
      left: 50%;
    }
  }
}

.road {
  background-color: white;
  position: absolute;
  z-index: 3;

  &.vert {
    width: calc(20% + 2px);
    height: calc(40% + 2px);
    border-left: 2px solid black;
    border-right: 2px solid black;
    left: calc(40% - 1px);

    &.short {
      height: 20%;

      &.bottom {
        height: calc(20% - 1px);
        top: calc(80% + 2px);
      }

      & .road-dash.one {
        top: 50%;
      }

      & .two,
      .three {
        visibility: hidden;
      }
    }

    & .road-dash {
      width: 2px;
      height: 15%;
      background-color: black;

      left: calc(50% - 1px);

      &.one {
        top: calc(15% - 1px);
      }

      &.two {
        top: 40%;
      }

      &.three {
        top: 70%;
      }
    }

    &.bottom {
      height: 40%;
      top: calc(60% - 1px);
    }
  }

  &.horiz {
    width: calc(40% + 2px);
    height: calc(20% + 2px);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    top: calc(40% - 1px);

    &.short {
      &.left {
        width: 20%;
      }

      &.right {
        width: calc(20% - 1px);
        left: calc(80% + 1px);
      }

      & .road-dash.one {
        left: 50%;
      }

      & .two,
      .three {
        visibility: hidden;
      }
    }

    & .road-dash {
      width: 15%;
      height: 2px;
      background-color: black;

      top: calc(50% - 1px);

      &.one {
        left: calc(15% - 1px);
      }

      &.two {
        left: 40%;
      }

      &.three {
        left: 70%;
      }
    }

    &.left {
      left: 0;
      width: calc(40% + 2px);
    }

    &.right {
      left: calc(60% - 1px);
    }
  }
}

.connection {
  background-color: black;
  position: absolute;
  width: calc(20% + 2px);
  aspect-ratio: 1 / 1;
  top: calc(40% - 1px);
  left: calc(40% - 1px);
  z-index: 2;

  &.road-connection {
    background-color: white;
    border: 2px solid black;
  }
}
