.ice-col {
  width: 50px;
  max-width: 50px;
}

.tile {
  width: 50px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rock {
  background-color: grey;
}

.ice {
  background-color: lightblue;
}

.goal {
  background-color: green;
}

.start {
  background-color: white;
}

.player {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  background-color: red;
}
