.card {
  width: 3.5vw;
  aspect-ratio: 28 / 39;
  display: flex;
  justify-content: center;
  align-items: center;

  & .number {
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;

    &.top-number {
      font-size: xx-large;
    }

    &.bottom-number {
      font-size: medium;
    }
  }
}
