.row {
  padding-top: 40px;
}

.play-area {
  margin-top: 8vh;
}

@media (max-width: 500px) {
  .play-area {
    margin-top: 0.2vh;
  }

  .column {
    padding-left: 0;

    .normal {
      width: 8vw;
    }
  }

  
  .pile, .slot {
    padding-left: 0;

    .normal {
      width: 8vw;
    }
  }
}

.pile,
.slot {
  & .card-list {
    position: relative;
    flex-grow: 0;
    & .card-list {
      margin-top: calc(-7vw * calc(39 / 28));
    }
  }

  & .normal {
    width: 7vw;
    aspect-ratio: 28 / 39;
  }
}

.column {
  & .droppable {
    min-height: "1000px";
    padding-top: 6vw;
  }
  & .card-list {
    position: relative;
    flex-grow: 0;
    margin-top: calc(-6vw * calc(39 / 28));
  }
}

.normal {
  width: 7vw;
  aspect-ratio: 28 / 39;
}

.draggable {
  cursor: grab;
}

.placeholder {
  display: flex;
  border: 2px dashed white;
  background-color: unset;
  cursor: default;
  align-items: center;
}

@media (min-width: 1600px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 2000px;
  }
}
