.minesweeper {
  overflow: auto;

  & .row {
    flex-wrap: nowrap;
  }
}

.tile {
  aspect-ratio: 1 / 1;
  font-family: "MS Sans Serif";
  outline: 1px solid #000000;
  background: #c0c0c0;

  padding: 2px 10px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  font-weight: bold;
  font-size: 20px;
  width: 40px;

  &.one {
    color: blue;
  }

  &.two {
    color: green;
  }

  &.three {
    color: red;
  }

  &.four {
    color: darkblue;
  }

  &.five {
    color: brown;
  }

  &.six {
    color: cyan;
  }

  &.seven {
    color: black;
  }

  &.eight {
    color: grey;
  }

  &.unrevealed {
    background: #c0c0c0;
    border-width: 3px;
    border-style: solid;
    border-color: #ffffff #808080 #808080 #ffffff;
  }
}
