$hexBorderColor: #999;

.hexagon {
  position: relative;
  width: 110px;
  height: 63.51px;
  margin: 31.75px 0;
  background-size: auto 115.4701px;
  background-position: center;
  border-left: solid 5px $hexBorderColor;
  border-right: solid 5px $hexBorderColor;

  &:after {
    content: "";
    position: absolute;
    top: 2.8868px;
    left: 0;
    width: 100px;
    height: 57.735px;
    z-index: 2;
    background: inherit;
  }
}

@mixin hexPoint {
  position: absolute;
  z-index: 3;
  width: 77.78px;
  height: 77.78px;
  overflow: hidden;
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 11.11px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 57.73502691896258px;
    transform: rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
    transform-origin: 0 0;
    background: inherit;
  }
}

.hexTop {
  @include hexPoint();
  top: -38.8909px;
  border-top: solid 7.0711px $hexBorderColor;
  border-right: solid 7.0711px $hexBorderColor;

  &:after {
    background-position: center top;
  }
}

.hexBottom {
  @include hexPoint();
  bottom: -38.8909px;
  border-bottom: solid 7.0711px $hexBorderColor;
  border-left: solid 7.0711px $hexBorderColor;

  &:after {
    background-position: center bottom;
  }
}

.animal-container {
  position: absolute;
  left: 30px;
  top: 11.755px;
  z-index: 4;
}
