.board-container {
  padding-top: 5vh;
  width: 73vh;
}

.board-square {
  & .board-tile {
    margin-top: -1px;
    margin-left: -1px;

    & .tile {
      border: 1px solid black;
    }
  }

  & .tile {
    border: 0px;
  }

  &.valid {
    & .tile {
      border: 1px solid lime;
    }
  }

  &.invalid {
    & .tile {
      border: 1px solid red;
    }
  }
}

.tile-pool {
  border: 1px dashed rgba(182, 182, 182, 0.747);
}

.dice-container, .specials-container {
  width: 15vh;
  flex-direction: column;
  display: flex;
  align-items: center;

  .tile-pool {
    min-width: 10vh;
    min-height: 50vh;
  }

  & .tile {
    float: none;
    margin-bottom: 20px;
  }
}

.save-button {
  width: 50%;
}

@media (min-width: 1600px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
      max-width: 2000px;
    }
  }