.tile {
  width: min(8.5vw, 6vh);
  font-size: min(3vw, 3vh);
  color: black;
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &.small {
    width: min(2vw, 2vh);
    font-size: min(1vw, 1vh);

    &.empty {
        background-color: unset;
    }
  }

  &.empty {
    background-color: antiquewhite;
  }

  &.forest {
    background-color: forestgreen;
  }

  &.field {
    background-color: goldenrod;
  }

  &.water {
    background-color: dodgerblue;
  }

  &.town {
    background-color: firebrick;
  }

  &.monster {
    background-color: darkmagenta;
  }

  &.mountain {
    background-color: sienna;
  }

  &.claimedmountain {
    background-color: sienna;
  }

  &.wasteland {
    background-color: grey;
  }

  .secondary-symbol {
    display: flex;
    font-size: min(1.5vw, 1.5vh);
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
