@use 'sass:math';

.word {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: percentage(math.div(1,6));

    @media (max-width: 576px) {
        height: unset;
    }

    &.shake {
        animation-name: shake;
        animation-duration: 0.5s;
    }
}

@keyframes shake {
    0% {
        transform: translate(0px);
    }

    25% {
        transform: translate(-5px);
    }

    50% {
        transform: translate(0px);
    }

    75% {
        transform: translate(5px);
    }

    100% {
        transform: translate(0px);
    }
}