@use 'sass:math';

.clipHex {
    background: #212529;
}

.clipLine {
    position: absolute;
    z-index: 100;
    cursor: pointer;

    &.sideLength {
        width: percentage(math.div(1, 3));
        height: 2%;

        &.unconnected {
            background: repeating-linear-gradient(
                to right,
                lightgray,
                lightgray 1px,
                #212529 1px,
                #212529 4px
              );
        }
    
        &.unconnectedTwo {
            background: repeating-linear-gradient(
                to right,
                saddlebrown,
                saddlebrown 1px,
                #212529 1px,
                #212529 4px
              );
        }
    }

    &.narrow {
        width: percentage(math.div(1, 6));

        &.bottom {
            top: 50%;
        }
    }

    &.diag {
        clip-path: polygon(100% 5%, 5% 100%, 0% 100%, 0% 95%, 95% 0%, 100% 0%);

        &.unconnected {
            background: repeating-linear-gradient(
                55deg,
                lightgray,
                lightgray 1px,
                #212529 1px,
                #212529 4px
              );
        }

        &.unconnectedTwo {
            background: repeating-linear-gradient(
                55deg,
                saddlebrown,
                saddlebrown 1px,
                #212529 1px,
                #212529 4px
              );
        }
    }

    &.backDiag {
        clip-path: polygon(0% 5%, 95% 100%, 100% 100%, 100% 95%, 5% 0%, 0% 0%);

        &.unconnected {
            background: repeating-linear-gradient(
                145deg,
                lightgray,
                lightgray 1px,
                #212529 1px,
                #212529 4px
              );
        }

        &.unconnectedTwo {
            background: repeating-linear-gradient(
                145deg,
                saddlebrown,
                saddlebrown 1px,
                #212529 1px,
                #212529 4px
              );
        }
    }

    &.l1 {
        left: percentage(math.div(1, 6));
    }

    &.l2 {
        left: percentage(math.div(1, 3));
    }

    &.l3 {
        left: percentage(math.div(1, 2));
    }

    &.mid {
        top: 49%;
    }

    &.connected {
        background: purple;
    }

    &.invalid {
        background: #212529;
        z-index: 99;
    }
}

.cityCircle {
    position: absolute;
    height: 21%;
    width: 14%;
    z-index: 101;
    background: white;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: small;

    &.l{
        top: 39%;
        left: -7%;
    }

    &.r{
        top: 39%;
        left: percentage(math.div(2,3)) - 7%;
    }

    &.tl{
        left: percentage(math.div(1, 6)) - 7%;
        top: -4%;
    }

    &.tr{
        left: percentage(math.div(1, 2)) - 7%;
        top: -4%;
    }

    &.bl{
        left: percentage(math.div(1, 6)) - 7%;
        bottom: -4%;
    }

    &.c{
        top: 39%;
        left: 26%;
    }

    &.green {
        background: green;
    }

    &.red {
        background: red;
    }

    &.yellow {
        background: yellow;
        color: #212529;
    }

    &.orange {
        background: darkorange;
    }

    &.blue {
        background: blue;
    }
}