@use "sass:math";

.minesweeper {
  overflow: auto;

  & .row {
    flex-wrap: nowrap;
  }
}

.tile {
  aspect-ratio: 1 / 1;
  font-family: "MS Sans Serif";
  outline: 1px solid #000000;
  background: #c0c0c0;

  padding: 2px 10px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  font-weight: bold;
  font-size: 20px;
  width: 40px;

  &.unrevealed {
    background: #c0c0c0;
    border-width: 3px;
    border-style: solid;
    border-color: #ffffff #808080 #808080 #ffffff;
  }
}

.hex-container {
  padding: 10px;
  display: flex;
  position: relative;
  box-sizing: content-box;
}

.hexagon {
  font-family: "MS Sans Serif";
  background: #c0c0c0;
  border-right: solid 1px black;
  position: relative;
  display: flex;
  background-position: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  &.unrevealed {
    background: #999999;
  }
}

.hexTop {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  transform: scaleY(calc(1 / math.sqrt(3))) rotate(-45deg);
  background: inherit;
  border-top: solid 1px black;
  border-right: solid 1px black;
}

.hexBottom {
  position: absolute;
  z-index: 3;
  overflow: hidden;
  transform: scaleY(calc(1 / math.sqrt(3))) rotate(-45deg);
  background: inherit;
}

.symbol-container {
  position: relative;
  z-index: 4;
}

.one {
  color: blue;
}

.two {
  color: green;
}

.three {
  color: red;
}

.four {
  color: darkblue;
}

.five {
  color: brown;
}

.six {
  color: cyan;
}

.seven {
  color: black;
}

.eight {
  color: grey;
}
