.other-play-zone {
  padding-top: 10px;
  padding-left: 10px;
  border: 1px solid lightgray;
  width: unset;
  float: left;

  .hex-container {
    padding: 10px;

    display: flex;
    position: relative;
    box-sizing: content-box;
  }

  &.current-player {
    border-color: greenyellow;
  }
}
