.faux-borders {
    padding: 5%;
}

.light {
    background-color: beige;
}

.dark {
    background-color: rgb(139, 71, 21);
}

.selected {
    background-color: red;
}

.move {
    background-color: green;
}

.gridsquare {
    aspect-ratio: 1 / 1;
    max-width: 10vmin;
    display: grid;
    font-size: 6vmin;
    text-align: center;
    align-items: center;
    max-height: 10vmin;
}

.w {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.b {
    color: black;
}